
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

.main{
    
    background-image:url("bg.jpg");
    height: 70vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
    font-family: 'popins','sans-serif';
   



}
body{
    background-color: black;
}
.input::placeholder{
    font-size: 25px;
    font-weight: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
.input{
    font-size: 5px;
    font-weight: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


nav{
    display: flex;
    justify-content: space-between;
    max-width: 80vw;
    margin: auto;

    align-items: center;
    height: 100px;

}
nav img{
    position: relative;
    z-index: 10;
    color:red;
    width: 130px;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    font-family: 'Martel Sans',sans-serif;
   
    height: calc(100%-100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding:0 30px;
}
.hero> :nth-child(1){
    font-weight: bolder;
    font-size: 48px;
    text-align: center;

}
.hero :nth-child(1){
    font-size: 24px;
    font-weight: 400px;
    text-align: center;
}
.hero :nth-child(3){
    font-size: 20px;
    font-weight: 400px;
    text-align: center;
}
.separation{
    height: 7px;
    background-color: rgb(34, 32, 32);
    position: relative;
    z-index: 20;
}
.btn{
  padding: 3px 8px;
 font-weight: 400;
  background-color: rgba(236, 227, 227, 0.327);
  color: white;
  border: 1px solid white; 
  border-radius: 4px;
  cursor: pointer; 
  font-family: 'popins','sans-serif';
}
.btn-red{
background-color: red;
padding: 5px 24px;

font-size: 20px;
border-radius: 4px;
font-weight: 400;


}
.btn-red-sm{
    background-color: red;
    color: white;


}
.main input{
padding: 7px 101px 8px 14px;
color: white;
font-weight: 9;
font-size: 20px;
border-radius: 4px;
background-color: rgba(23,23,23,0.7);
border: 1px rgb(240, 233, 233,0.5);

}
.hero-buttons{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
   

}
.first{
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 70vw;
    color: white;
    align-items: center;
}

.hyy{
   margin-top:30px;
   margin-left: 0px;
   margin-right: 0px;
}
   .hello{
        margin-top: 60px;
        z-index: 4;
        margin-right: 0px;
        padding-left: 20px;
        height: 230px;
   } 

.secimg img{
    width: 555px;
    position: relative;
    z-index: 10;
}
.secimg{
    position: relative;

}
.secimg video{
    position: absolute;
    top: 51px;
    right: 0px;
    width: 555px;

}

section.first> div{
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}
.first> div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}
.first> div :nth-child(2){
    font-size: 24px;
    

}
.faqbox{
    color: white;
    transition: all 1s ease-out;
    display: flex;
    background-color: gray;
    padding: 34px;
    max-width: 60vw;
    margin: 34px auto;
    justify-content: space-between;
    cursor: pointer;
    
}
.faq{
    background-color: black;
    color: white;
    padding: 34px;
    font-size: 24px;
}
.faq h2{
    text-align: center;
    font-size: 48px;

}
.faqbox :hover{
    background-color:#414141;
    color: white;
}
.faqbox svg{
    filter: invert(1);
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    
}
.footer-item{
    display: flex;
    flex-direction:column;

}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}
.footer a{
    font-size: 14px;
    gap: 23px;
    color: white;
}
.question{
  padding: 34px 0;
  align-items:center;
  align-content: center;
}
@media screen and (max-width:1300px) {

    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
       
       


}}
@media screen and (max-width:1300px) {
    nav{
        max-width: 90vw;
    }
    
        .hero{
            font-family: 'Martel Sans',sans-serif;
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: white;
            position: absolute;
            gap: 10PX;
            padding: 10PX 2PX 0PX 0;
            width:350PX;
        }
        .main input{
            padding: 1px 45px 7px 0px;
            color: white;
            font-weight: 4px;
            font-size: 10px;
            border-radius: 10px;
            background-color: rgba(23,23,23,0.7);
            border: 1px rgb(240, 233, 233,0.5);
            width:300px;
                
            
            }
            .hello {
                margin-top: 60px;
                z-index: 4;
                margin-right: 0px;
                padding-left: 20px;
                height: 260px;
            }
            .btn-red{
                background-color: red;
                padding: 4px  10px 10px 8px;
                margin-top:5px;
                
                font-size: 20px;
                border-radius: 8px;
                font-weight: 400;
                
                
                
                }
    
    .first{
        flex-wrap:wrap;
    }
    .secimg img{
        width: 305;
      
    }
    .secimg video{
        width: 505px;
       
    }
    .hero :nth-child(1){
        font-size: 32px;
        
    }
    .hero :nth-child(2){
        font-size: 18px;
        
    }
    .hero :nth-child(3){
        font-size: 18px;
        
    }
    .hero-button{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
       
    
    
    }
    .faq h2{
        font-size: 32px;
    }
    footer{
        max-width: 90vw;
    }
    .footer-item{
        align-items: center;
    }
}

